# Игнорировать папку .git
.git/

# Игнорировать папку с IDE конфигурациями
.idea/
.vscode/

# Игнорировать временные файлы и логи
*.log
*.pyc
__pycache__/

# Игнорировать директории и файлы с зависимостями
node_modules/
.env
venv